/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo na vertical */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    padding: 0 1rem; /* Espaçamento nas laterais */
    box-sizing: border-box;
}

.header-image {
    max-width: 40%; /* Garante que a imagem ocupe toda a largura */
    height: auto;
    display: block; /* Garante que a imagem seja exibida */
    margin-bottom: -150px;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem;
    color: #ff8800;
    text-align: center;
    letter-spacing: 0.4rem;
    text-shadow: 1px 1px 0 #333333, /* Sombras horizontais e verticais com cinza escuro */
    -1px -1px 0 #333333, 
    1px -1px 0 #333333, 
    -1px 1px 0 #333333;
}

/* Estiliza as seções da página */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem;
    max-width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #333;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
}

section button:hover {
    background-color: #30475E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estiliza a caixa de resultados de pesquisa */
.resultados-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens no topo do container */
    width: 60rem;
    max-width: 100%;
    max-height: 300px; /* Defina uma altura máxima confortável */
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    overflow-y: auto; /* Mostra a barra de rolagem quando necessário */
}

/* Certifique-se de que os itens de resultado tenham margens internas para não serem cortados */
.item-resultado {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}


.imagem-anime {
    width: 200px;
    height: 200px;
    object-fit: contain; /* Garante que a imagem não seja cortada */
    margin-right: 20px;
}

.texto-anime {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.texto-anime h2 {
    text-align: center;
}

.texto-anime a {
    text-align: center;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px 0;
    width: 100%;
    position: relative;
    height: 60px;
    z-index: 1;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Centraliza o conteúdo no rodapé */
footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-bottom: 5px; /* Ajuste para mais ou menos espaço */
    margin-top: 5px;
}

/* Video container */
.video-container {
    position: relative; /* Garante que o vídeo fique fixo, mesmo ao rolar a página */
    bottom: -80px; /* Coloca o vídeo logo acima do rodapé */
    right: -700px;
    width: 300px;
    height: 190px;
    z-index: 1000;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 25rem;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 40rem;
        height: 40vh;
    }

    .item-resultado h2 {
        font-size: 1.3rem;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%;
        height: 50vh;
    }

    .item-resultado h2 {
        font-size: 1.1rem;
    }

    .video-container {
        bottom: 60px; /* Ajusta o vídeo para telas pequenas */
        right: 10px;
    }
}
